# Angular
cannabisclient/node_modules/
cannabisclient/dist/
cannabisclient/.angular/cache/
cannabisclient/src/environments/environment*.ts

# .NET (Visual Studio)
cannabisserver/bin/
cannabisserver/obj/
*.user
*.suo
.vs/

# OS + IDE
.DS_Store
Thumbs.db