# Angular
cannabisclient/node_modules/
cannabisclient/dist/
cannabisclient/.angular/cache/
cannabisclient/src/environments/environment*.ts

# .NET (Visual Studio)
# Visual Studio and .NET build outputs
bin/
obj/
.vs/

*.cache
*.dll
*.exe
*.pdb
*.nuget.*

*.user
*.suo
.vs/

# OS + IDE
.DS_Store
Thumbs.db