# Angular
cannabisclient/node_modules/
cannabisclient/dist/
cannabisclient/.angular/cache/
cannabisclient/src/environments/environment*.ts

# .NET (Visual Studio)
cannabisserve/bin/
cannabisserve/obj/
*.user
*.suo

# OS + IDE
.DS_Store
Thumbs.db